.main {
    width: 100%;
    height: 280vh;
    overflow: hidden;
    position: relative;
}

.redBlocksPlace {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: space-between;
    height: 260vh;
}

.redBlocks1 {
    height: 100%;
    display: flex;
    align-items: flex-end;
    width: 10%;
    position: relative;
}

.redBlocks2 {
    height: 100%;
    display: flex;
    align-items: flex-end;
    width: 10%;
    position: relative;
}

.redBlock {
    width: 20px;
    height: 20px;
    position: relative;
    border: 1px purple solid;
    box-shadow: 0 0 2px purple,
        0 0 4px purple,
        0 -2px 4px purple,
        2px -4px 6px purple,
        2px -8px 18px purple;
}

.mainBackgroundPlace {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100%;
}

.mainBackground {
    width: 80%;
    height: 100%;
    box-sizing: border-box;
}

.mainContent {
    border: 1px purple solid;
    position: relative;
    border-radius: 20px;
}

.aboutAutor {
    display: flex;
}

.autorDescription {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    border: 1px purple solid;
    border-radius: 25px;
    justify-content: space-evenly;
    margin-top: 150px;
    box-sizing: border-box;
}

.title {
    font-size: 30px;
    color: white;
    text-align: center;
}

.description {
    font-size: 20px;
    color: white;
    text-align: center;
}

.slider {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.titleAboutSlider {
    font-size: 30px;
    color: white;
    padding: 10px;
    text-align: center;
}

.photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.slide {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-sizing: border-box;
}

.next {
    font-size: 30px;
    color: purple;
    padding: 10px;
    border: 1px purple solid;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
}

.back {
    font-size: 30px;
    color: purple;
    padding: 10px;
    transform: rotate(180deg);
    border: 1px purple solid;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
}

.counter {
    color: white;
}

.frilance {
    margin-top: 100px;
}

.frilanceTitle {
    display: flex;
    justify-content: center;
}

.frTitle {
    color: white;
    font-size: 20px;
    border: 1px purple solid;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.aboutTrade {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.trade1 {
    width: 30%;
    border: 1px purple solid;
    border-radius: 25px;
}

.trade2 {
    width: 30%;
    border-radius: 25px;
    position: relative;
    background-color: black;
}

.trade2::before {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: -1;
    border-radius: inherit;
    background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}

.titleOfTrade {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.descriptionOfTrade {
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 20px;
}

.meetAutor {
    display: flex;
    justify-content: center;
    height: 15vh;
}

.meetAutorBtn {
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    border: none;
    background: linear-gradient(to right, rgb(235, 0, 235), purple);
    cursor: pointer;
}

.mainContent {
    position: relative; 
    z-index: 2;
}

.portfolioTitle {
    display: flex;
    justify-content: center;
    height: 15vh;
    align-items: center;
}

.prtTitle {
    color: white;
    font-size: 20px;
    border: 1px purple solid;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.portfolioWorks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
}

.work {
    width: 30%;
}

.link {
    text-decoration: none;
}

.workTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 25px;
    color: white;
    text-align: center;
}

.photo {
    height: 100%;
}

@media all and (max-width: 768px) {

    .aboutAutor {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .autorDescription {
        width: 90%;
    }
    
    .slider {
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
    }
    
    .main {
        height: 260vh;
    }
    
    .redBlocksPlace {
        height: 250vh;
    }
    
    .redBlock {
        width: 10px;
        height: 5px;
    }
    
    .autorDescription {
        margin-top: 110px;
    }
    
    .title {
        font-size: 20px;
        margin-top: 20px;
    }
    
    .description {
        font-size: 15px;
        padding: 10px;
    }
    
    .titleAboutSlider {
        font-size: 20px;
    }
    
    .slide {
        width: 250px;
    }
    
    .frilance {
        margin-top: 40px;
    }
    
    .frTitle {
        padding: 10px;
        font-size: 15px;
    }
    
    .aboutTrade {
        display: flex;
        height: 90vh;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .trade1,
    .trade2 {
        width: 80%;
    }
    
    .titleOfTrade {
        padding: 20px;
        font-size: 20px;
    }
    
    .descriptionOfTrade {
        font-size: 15px;
        padding: 10px;
    }
    
    .meetAutor {
        height: 10vh;
    }
    
    .portfolioWorks {
        height: 20vh;
    }
    
    .work {
        width: 40%;
    }
    
    .prtTitle {
        font-size: 15px;
        padding: 15px;
    }
    
    .workTitle {
        font-size: 15px;
    }
}

@media (min-width: 500px) and (max-width: 510px) {

    .aboutAutor {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .autorDescription {
        width: 90%;
    }

    .slider {
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
    }

    .main {
        height: 260vh;
    }

    .redBlocksPlace {
        height: 250vh;
    }

    .redBlock {
        width: 10px;
        height: 5px;
    }

    .autorDescription {
        margin-top: 110px;
    }

    .title {
        font-size: 20px;
        margin-top: 20px;
    }

    .description {
       font-size: 15px;
       padding: 10px;
    }

    .titleAboutSlider {
      font-size: 20px;
    }

    .slide {
        width: 250px;
    }

    .frilance {
        margin-top: 40px;
    }

    .frTitle {
        padding: 10px;
        font-size: 15px;
    }

    .aboutTrade {
        display: flex;
        height: 90vh;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .trade1,
    .trade2 {
        width: 80%;
    }

    .titleOfTrade {
        padding: 20px;
        font-size: 20px;
    }

    .descriptionOfTrade {
        font-size: 15px;
        padding: 10px;
    }

    .meetAutor {
        height: 10vh;
    }

    .portfolioWorks {
        height: 20vh;
    }

    .work {
        width: 40%;
    }

    .prtTitle {
       font-size: 15px;
       padding: 15px;
    }

    .workTitle {
        font-size: 15px;
    }
}

@media (min-width: 450px) and (max-width: 460px) {

    .aboutAutor {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: red;
    }

    .autorDescription {
        width: 90%;
    }

    .slider {
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
    }

    .main {
        height: 230vh;
    }

    .redBlocksPlace {
        height: 220vh;
    }

    .redBlock {
        width: 10px;
        height: 5px;
    }

    .autorDescription {
        margin-top: 110px;
    }

    .title {
        font-size: 20px;
        margin-top: 20px;
    }

    .description {
       font-size: 15px;
       padding: 10px;
    }

    .titleAboutSlider {
      font-size: 20px;
    }

    .slide {
        width: 250px;
    }

    .frilance {
        margin-top: 40px;
    }

    .frTitle {
        padding: 10px;
        font-size: 15px;
    }

    .aboutTrade {
        display: flex;
        height: 90vh;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .trade1,
    .trade2 {
        width: 80%;
    }

    .titleOfTrade {
        padding: 20px;
        font-size: 20px;
    }

    .descriptionOfTrade {
        font-size: 15px;
        padding: 10px;
    }

    .meetAutor {
        height: 10vh;
    }

    .portfolioWorks {
        height: 20vh;
    }

    .work {
        width: 40%;
    }

    .prtTitle {
       font-size: 15px;
       padding: 15px;
    }

    .workTitle {
        font-size: 15px;
    }
}

@media (min-width: 400px) and (max-width: 450px) {

    .aboutAutor {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .autorDescription {
        width: 90%;
    }

    .slider {
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
    }

    .main {
        height: 230vh;
    }

    .redBlocksPlace {
        height: 220vh;
    }

    .redBlock {
        width: 10px;
        height: 5px;
    }

    .autorDescription {
        margin-top: 110px;
    }

    .title {
        font-size: 20px;
        margin-top: 20px;
    }

    .description {
       font-size: 15px;
       padding: 10px;
    }

    .titleAboutSlider {
      font-size: 20px;
    }

    .slide {
        width: 250px;
    }

    .frilance {
        margin-top: 40px;
    }

    .frTitle {
        padding: 10px;
        font-size: 15px;
    }

    .aboutTrade {
        display: flex;
        height: 90vh;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .trade1,
    .trade2 {
        width: 80%;
    }

    .titleOfTrade {
        padding: 20px;
        font-size: 20px;
    }

    .descriptionOfTrade {
        font-size: 15px;
        padding: 10px;
    }

    .meetAutor {
        height: 10vh;
    }

    .portfolioWorks {
        height: 20vh;
    }

    .work {
        width: 40%;
    }

    .prtTitle {
       font-size: 15px;
       padding: 15px;
    }

    .workTitle {
        font-size: 15px;
    }
}

@media (min-width: 300px) and (max-width: 400px) {

    .aboutAutor {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .autorDescription {
        width: 90%;
    }

    .slider {
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
    }

    .main {
        height: 240vh;
    }

    .redBlocksPlace {
        height: 230vh;
    }

    .redBlock {
        width: 10px;
        height: 5px;
    }

    .autorDescription {
        margin-top: 110px;
    }

    .title {
        font-size: 20px;
        margin-top: 15px;
    }

    .description {
        font-size: 15px;
        padding: 10px;
    }

    .titleAboutSlider {
      font-size: 20px;
    }

    .slide {
        width: 200px;
    }

    .frilance {
        margin-top: 40px;
    }

    .frTitle {
        padding: 10px;
        font-size: 15px;
    }

    .aboutTrade {
        display: flex;
        height: 90vh;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .trade1,
    .trade2 {
        width: 80%;
    }

    .titleOfTrade {
        padding: 20px;
        font-size: 20px;
    }

    .descriptionOfTrade {
        font-size: 15px;
        padding: 10px;
    }

    .meetAutor {
        height: 10vh;
    }

    .portfolioWorks {
        height: 20vh;
    }

    .work {
        width: 40%;
    }

    .prtTitle {
       font-size: 15px;
       padding: 15px;
    }

    .workTitle {
        font-size: 15px;
    }
}

@media (min-width: 375px) and (max-width: 380px) {

    .aboutAutor {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .autorDescription {
        width: 90%;
    }

    .slider {
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
    }

    .main {
        height: 250vh;
    }

    .redBlocksPlace {
        height: 240vh;
    }

    .redBlock {
        width: 10px;
        height: 5px;
    }

    .autorDescription {
        margin-top: 110px;
    }

    .title {
        font-size: 20px;
        margin-top: 15px;
    }

    .description {
        font-size: 15px;
        padding: 10px;
    }

    .titleAboutSlider {
      font-size: 20px;
    }

    .slide {
        width: 200px;
    }

    .frilance {
        margin-top: 40px;
    }

    .frTitle {
        padding: 10px;
        font-size: 15px;
    }

    .aboutTrade {
        display: flex;
        height: 90vh;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .trade1,
    .trade2 {
        width: 80%;
    }

    .titleOfTrade {
        padding: 10px;
        font-size: 20px;
    }

    .descriptionOfTrade {
        font-size: 13px;
        padding: 10px;
    }

    .meetAutor {
        height: 10vh;
    }

    .portfolioWorks {
        height: 20vh;
    }

    .work {
        width: 40%;
    }

    .prtTitle {
       font-size: 15px;
       padding: 15px;
    }

    .workTitle {
        font-size: 15px;
    }
}

@media (min-width: 360px) and (max-width: 370px) {

    .aboutAutor {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .autorDescription {
        width: 90%;
    }

    .slider {
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
    }

    .main {
        height: 280vh;
    }

    .redBlocksPlace {
        height: 270vh;
    }

    .redBlock {
        width: 10px;
        height: 5px;
    }

    .autorDescription {
        margin-top: 110px;
    }

    .title {
        font-size: 20px;
        margin-top: 15px;
    }

    .description {
        font-size: 15px;
        padding: 10px;
    }

    .titleAboutSlider {
      font-size: 20px;
    }

    .slide {
        width: 200px;
    }

    .frilance {
        margin-top: 40px;
    }

    .frTitle {
        padding: 10px;
        font-size: 15px;
    }

    .aboutTrade {
        display: flex;
        height: 90vh;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .trade1,
    .trade2 {
        width: 80%;
    }

    .titleOfTrade {
        padding: 10px;
        font-size: 20px;
    }

    .descriptionOfTrade {
        font-size: 13px;
        padding: 10px;
    }

    .meetAutor {
        height: 10vh;
    }

    .portfolioWorks {
        height: 20vh;
    }

    .work {
        width: 40%;
    }

    .prtTitle {
       font-size: 15px;
       padding: 15px;
    }

    .workTitle {
        font-size: 15px;
    }
}