.main {
    display: flex;
    justify-content: space-between;
}

.content {
    width: 80%;
    background-color: rgb(234, 234, 234);
    border-radius: 2vw;
}

.purpleBlocks1 {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.purpleBlocks2 {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.purpleBlock {
    width: 3vw;
    height: 3vw;
    position: relative;
    border: 1px rgb(176, 6, 243) solid;
    box-shadow: 0 0 2px rgb(176, 6, 243),
        0 0 4px rgb(176, 6, 243),
        0 -2px 4px rgb(176, 6, 243),
        2px -4px 6px rgb(176, 6, 243),
        2px -8px 18px rgb(176, 6, 243);
}

.aboutAutor {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 30vw;
    margin-top: 10vw;
}

.autorDescription {
    display: flex;
    width: 50%;
    height: 25vw;
    flex-direction: column;
    align-items: center;
    border: 1px rgb(176, 6, 243) solid;
    border-radius: 2vw;
    justify-content: space-evenly;
    box-sizing: border-box;
    background-color: rgb(234, 234, 234);
}

.title {
    font-size: 2vw;
    text-align: center;
}

.description {
    font-size: 1.4vw;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.slider {
    display: flex;
    width: 35%;
    height: 30vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px rgb(176, 6, 243) solid;
    border-radius: 2vw;
    background-color: rgb(234, 234, 234);
}

.titleAboutSlider {
    font-size: 2vw;
    padding: 10px;
    text-align: center;
}

.containerOfSlides {
    display: flex;
    justify-content: center;
    padding: 1vw;
}

.slide {
    display: flex;
    width: 20vw;
    height: 11vw;
    justify-content: center;
}

.photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1vw;
}

.next {
    font-size: 2vw;
    color: rgb(176, 6, 243);
    padding: 0.7vw;
    border: 1px rgb(176, 6, 243) solid;
    cursor: pointer;
    margin: 1vw;
    border-radius: 1vw;
}

.back {
    font-size: 2vw;
    color: rgb(176, 6, 243);
    padding: 0.7vw;
    transform: rotate(180deg);
    border: 1px rgb(176, 6, 243) solid;
    cursor: pointer;
    margin: 1vw;
    border-radius: 1vw;
}

.frilance {
    margin-top: 8vw;
    height: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.frilanceTitle {
    display: flex;
    justify-content: center;
}

.frTitle {
    font-size: 1.5vw;
    border: 1px rgb(176, 6, 243) solid;
    padding: 1.3vw;
    border-radius: 2vw;
    text-align: center;
    background-color: rgb(234, 234, 234);
}

.aboutTrade {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.trade1 {
    width: 26vw;
    border: 1px rgb(176, 6, 243) solid;
    border-radius: 2vw;
    background-color: rgb(234, 234, 234);
}

.trade2 {
    width: 26vw;
    border-radius: 2vw;
    border: 1px rgb(176, 6, 243) solid;
    background-color: rgb(234, 234, 234);
}

.titleOfTrade {
    font-size: 2vw;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2vw;
}

.descriptionOfTrade {
    font-size: 1.4vw;
    text-align: center;
    padding: 1.5vw;
}

.price {
    display: flex;
    font-size: 1.4vw;
    justify-content: center;
    align-items: center;
}

.meetAutor {
    display: flex;
    justify-content: center;
}

.meetAutorBtn {
    padding: 1.3vw;
    border-radius: 2vw;
    font-size: 1.5vw;
    border: none;
    background: linear-gradient(to right, rgb(176, 6, 243), rgb(166, 0, 166));
    cursor: pointer;
}

.mainContent {
    position: relative; 
    z-index: 2;
}

.portfolio {
    height: 40vw;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.portfolioTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prtTitle {
    font-size: 1.5vw;
    border: 1px rgb(176, 6, 243) solid;
    padding: 1.3vw;
    border-radius: 2vw;
    text-align: center;
    background-color: rgb(234, 234, 234);
}

.portfolioWorks {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.work {
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
}

.workTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    font-size: 1.7vw;
    text-align: center;
}

.workContent1 {
    width: 20vw;
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/src/assets/Снимок\ экрана\ 2025-11-10\ в\ 17.29.23.png);
}

.workContent2 {
    width: 20vw;
    height: 20vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/src/assets/Снимок\ экрана\ 2025-11-10\ в\ 17.28.55.png);
}

@media all and (max-width: 768px) {

    .content {
        background-color: transparent; 
        border-radius: 4vw;
    }

    .aboutAutor {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 110vw;
        margin-top: 20vw;
    }
    
    .autorDescription {
        width: 90%;
        height: 50vw;
        border-radius: 5vw;
    }
    
    .slider {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: none;
        border-radius: 5vw;
        background-color: transparent; 
    }
    
    .containerOfSlides {
        display: flex;
        justify-content: center;
        padding: 3vw;
    }
    
    .slide {
        width: 35vw;
        height: 20vw;
    }

    .photo {
        border-radius: 3vw;
    }

    .next {
        font-size: 6vw;
        color: rgb(176, 6, 243);
        padding: 1.5vw;
        border: 1px rgb(176, 6, 243) solid;
        cursor: pointer;
        margin: 1.5vw;
        border-radius: 2vw;
    }
    
    .back {
        font-size: 6vw;
        color: rgb(176, 6, 243);
        padding: 1.5vw;
        transform: rotate(180deg);
        border: 1px rgb(176, 6, 243) solid;
        cursor: pointer;
        margin: 1.5vw;
        border-radius: 2vw;
    }

    .purpleBlock {
        width: 5vw;
        height: 5vw;
    }
    
    .title {
        font-size: 4vw;
        margin-top: 2vw;
    }
    
    .description {
        font-size: 3vw;
        padding: 1vw;
    }
    
    .titleAboutSlider {
        font-size: 4vw;
    }
    
    .frilance {
        height: 180vw;
        margin-top: 35vw;
    }
    
    .frTitle {
        font-size: 3vw;
        padding: 1vw;
        border-radius: 4vw;
    }
    
    .aboutTrade {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        height: 130vw;
    }
    
    .trade1,
    .trade2 {
        width: 80%;
        border-radius: 5vw;
    }
    
    .titleOfTrade {
        padding: 3vw;
        font-size: 4vw;
    }
    
    .descriptionOfTrade {
        font-size: 3vw;
        padding: 1.5vw;
    }

    .price {
        font-size: 3vw;
    }

    .meetAutorBtn {
        font-size: 3vw;
        padding: 2.5vw;
        border-radius: 3vw;
    }

    .portfolio {
        height: 70vw;
    }
    
    .work {
        width: 40%;
    }
    
    .prtTitle {
        font-size: 3vw;
        padding: 2.5vw;
        border-radius: 4vw;
    }
    
    .workTitle {
        font-size: 3vw;
    }
}