.modal {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}

.modalValue {
    width: 80%; 
    max-width: 500px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh; 
    position: relative;
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
}

.textToUser1 {
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
}

.textToUser2 {
    text-align: center;
    margin-top: 20px;
    text-align: center;
}

.textToUser3 {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.contacts {
    margin-top: 20px;
    color: black;
}

.link {
    color: rgb(221, 0, 0);
    text-decoration: none;
}

.send {
    height: 15vh;
    display: flex;
    align-items: flex-end;
}

.sendBtn {
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
}

@media (max-width: 360px) {
    .textToUser1 {
        font-size: 20px;
    }
    
    .textToUser2 {
        font-size: 15px;
    }
    
    .textToUser3 {
        font-size: 15px;
    }
    
    .contacts {
        font-size: 15px;
    }
}

@media (min-width: 361px) and (max-width: 768px) {
    .textToUser1 {
        font-size: 20px;
    }
    
    .textToUser2 {
        font-size: 20px;
    }
    
    .textToUser3 {
        font-size: 20px;
    }
    
    .contacts {
        font-size: 20px;
    }
}