.modal {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
  
.modalValue {
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    height: 25vw;
    position: relative;
    background-color: rgb(234, 234, 234);
    border: 1px rgb(166, 0, 166) solid;
    border-radius: 1.5vw;
}
  
.form {
    display: flex;
    height: 23vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
  
.textToUser {
    text-align: center;
}
  
.normalTextToUser {
    font-size: 1.5vw;
}
  
.smallTextToUser {
  font-size: 1.5vw;
}

.textToUserToHelp {
  font-size: 1.5vw;
  text-align: center;
}
  
.textForEmail {
      width: 30vw;
      height: 7vw;
      resize: none;
      font-size: 1.5vw;
}
  
.btnSubmit {
      padding: 1vw;
      border-radius: 2vw;
      font-size: 1.5vw;
      border: none;
      background: linear-gradient(to right, rgb(176, 6, 243), rgb(166, 0, 166));
      cursor: pointer;
}
  
@media all and (max-width: 768px) {
  
    .modalValue {
      width: 80vw;
      margin-top: 2vw;
      height: 48vw;
      border-radius: 3vw;
    }
  
    .form {
      display: flex;
      height: 45vw;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .textToUser {
      text-align: center;
    }
  
    .normalTextToUser {
      font-size: 3vw;
    }
  
    .smallTextToUser {
      font-size: 3vw;
    }

    .textToUserToHelp {
      font-size: 3vw;
    }
  
    .textForEmail {
      width: 60vw;
      height: 15vw;
      resize: none;
      font-size: 3vw;
    }
  
    .btnSubmit {
      padding: 1.5vw;
      border-radius: 2vw;
      font-size: 3vw;
    }
}