.modal {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
  
.modalValue {
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    height: 28vw;
    position: relative;
    background-color: rgb(234, 234, 234);
    border: 1.5px rgb(150, 0, 150) solid;
    border-radius: 2vw;
}
  
.form {
    display: flex;
    height: 25vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
  
.textToUser {
    text-align: center;
}
  
.normalTextToUser {
    font-size: 1.5vw;
}
  
.smallTextToUser {
  font-size: 1.5vw;
}

.textToUserToHelp {
  font-size: 1.5vw;
  text-align: center;
}
  
.textForEmail {
      width: 30vw;
      height: 7vw;
      resize: none;
      font-size: 1.3vw;
}

.dataLoadingText {
  height: 1.2vw;
  font-size: 1.3vw;
}
  
.btnSubmit {
      padding: 1vw;
      color: black;
      border-radius: 2vw;
      font-size: 1.5vw;
      background-color:rgb(150, 0, 150);
      border: none;
      cursor: pointer;
}
  
@media all and (max-width: 768px) {
  
    .modalValue {
      width: 90vw;
      margin-top: 2vw;
      height: 75vw;
      border-radius: 4vw;
    }

    .modalValue:before {
      border-radius: 4vw;
      padding: 0.4vw; 
    }
  
    .form {
      display: flex;
      height: 68vw;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .textToUser {
      text-align: center;
    }
  
    .normalTextToUser {
      font-size: 3.5vw;
    }
  
    .smallTextToUser {
      font-size: 3.5vw;
    }

    .textToUserToHelp {
      font-size: 3.5vw;
    }
  
    .textForEmail {
      width: 70vw;
      height: 20vw;
      resize: none;
      font-size: 3.5vw;
    }

    .dataLoadingText {
      height: 4vw;
      font-size: 4vw;
    }
  
    .btnSubmit {
      font-size: 3.5vw;
      padding: 2vw;
      border-radius: 4vw;
    }
}