.startOfSite {
    height: 6vw;
    display: flex;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color: rgb(234, 234, 234);
    border-left: 1px rgb(176, 6, 243) solid;
    border-top: 1px rgb(176, 6, 243) solid;
    border-bottom: 1px rgb(176, 6, 243) solid;
    z-index: 100;
    border-radius: 2vw;
}

.name {
    color: rgb(176, 6, 243);
    font-size: 2vw;
    margin-left: 2px;
    display: flex;
    align-items: center;
    width: 80%;
}

.menu {
    width: 20%;
    border-left: 1px rgb(176, 6, 243) solid;
    border-right: 1px rgb(176, 6, 243) solid;
}

.titleOfSettings {
    width: 100%;
    font-size: 2vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(176, 6, 243);
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 10vw;
    border: 1px rgb(176, 6, 243) solid;
    background-color: rgb(234, 234, 234);
    border-radius: 2vw;
}

.action {
    font-size: 2vw;
    display: flex;
    align-items: center;
    color: rgb(176, 6, 243);
    text-align: center;
}

@media all and (max-width: 768px) {
    .startOfSite {
        height: 14vw;
        border-radius: 4vw;
    }

    .name {
        font-size: 5vw;
        width: 70%;
    }

    .menu {
        width: 30%;
    }

    .titleOfSettings {
        font-size: 5vw;
    }

    .action {
        font-size: 5vw;
    }

    .options {
        height: 22vw;
        border-radius: 4vw;
    }
}