.start {
    display: grid;
    height: 6vw;
    grid-template-columns: [start] 80vw [middle] 20vw [end];
    position: fixed; 
    z-index: 100;
    background-color: rgb(234, 234, 234);
    border-radius: 2vw;
}

.startOfSite {
    display: flex;
    align-items: center;
    grid-column: start / middle;
    background-color: rgb(234, 234, 234);
    border: 1px rgb(176, 6, 243) solid;
    border-radius: 2vw;
    height: 6vw;
}

.name {
    color: rgb(176, 6, 243);
    font-size: 2vw;
    margin-left: 2px;
}

.menu {
    display: flex;
    flex-direction: column;
    grid-column: middle / end;
    background-color: rgb(234, 234, 234);
    border: 1px rgb(176, 6, 243) solid;
    border-radius: 2vw;
}

.titleOfSettings {
    font-size: 2vw;
    height: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(176, 6, 243);
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 10vw;
}

.action {
    font-size: 2vw;
    display: flex;
    align-items: center;
    color: rgb(176, 6, 243);
    text-align: center;
}

@media all and (max-width: 768px) {

    .start {
        height: 12vw;
        border-radius: 4vw;
        background-color: transparent; 
    }

    .startOfSite {
        height: 12vw;
        border-radius: 4vw;
    }

    .name {
        font-size: 5vw;
    }

    .menu {
        border-radius: 4vw;
    }

    .titleOfSettings {
        font-size: 4vw;
        height: 12vw;
    }
    
    .options {
        height: 20vw;
        border-radius: 4vw;
    }

    .action {
        font-size: 4vw;
    }
}