.startOfSite {
    height: 12vh;
    display: flex;
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color: black;
    z-index: 100;
}

.name {
    color: purple;
    font-size: 30px;
    display: flex;
    align-items: center;
    border: 1px purple solid;
    width: 80%;
}

.menu {
    width: 20%;
    border-top: 1px purple solid;
    border-right: 1px purple solid;
    border-bottom: 1px purple solid;
    
}

.titleOfSettings {
    width: 100%;
    font-size: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: purple;
}

.options {
    display: flex;
    align-items: center;
    border: 1px purple solid;
    height: 18vh;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
}

.action {
    font-size: 25px;
    display: flex;
    align-items: center;
    color: purple;
    text-align: center;
}

@media (min-width: 400px) and (max-width: 500px) {
    .startOfSite {
        height: 9vh;
    }

    .name {
        font-size: 22px;
        width: 70%;
    }

    .menu {
        width: 30%;
    }

    .titleOfSettings {
        font-size: 22px;
    }

    .action {
        font-size: 20px;
    }

    .options {
        height: 14vh;
    }
}

@media (min-width: 300px) and (max-width: 400px) {
    .startOfSite {
        height: 9vh;
    }

    .name {
        font-size: 22px;
        width: 70%;
    }

    .menu {
        width: 30%;
    }

    .titleOfSettings {
        font-size: 22px;
    }

    .action {
        font-size: 20px;
    }

    .options {
        height: 14vh;
    }
}