.start {
    display: grid;
    height: 6vw;
    grid-template-columns: [start] 80vw [middle] 20vw [end];
    position: fixed; 
    z-index: 100;
    border-radius: 2vw;
}

.startOfSite {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: start / middle;
    background-color: rgb(234, 234, 234);
    height: 6vw;
    border: 1.5px rgb(150, 0, 150) solid;
    border-radius: 2vw;
    z-index: 100;
}

.name {
    color: rgb(150, 0, 150);
    font-size: 2vw;
    margin-left: 0.5vw;
    z-index: 100;
}

.planet {
    z-index: 100;
    margin-right: 1vw;
}

.planetImg {
    width: 3vw;
    cursor: pointer;
}

.modalLang {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15vw;
    height: 10vw;
    background-color: rgb(234, 234, 234);
    margin-left: 64.8vw;
    margin-top: 6.1vw;
    border: 1.5px rgb(150, 0, 150) solid;
    z-index: 100;
    border-radius: 1.5vw;
}

.language {
    z-index: 100;
}

.langBtn {
    font-size: 1.3vw;
    padding: 1vw;
    border: none;
    background-color: rgb(209, 209, 209);
    cursor: pointer;
    border-radius: 2vw;
}

.langBtn:active {
    transform: scale(0.95);
}

.menu {
    display: flex;
    position: relative;
    flex-direction: column;
    grid-column: middle / end;
    background-color: rgb(234, 234, 234);
    border: 1.5px rgb(150, 0, 150) solid;
    border-radius: 2vw;
    z-index: 100;
}

.titleOfSettings {
    font-size: 2vw;
    height: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(150, 0, 150);
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 10vw;
}

.action {
    font-size: 2vw;
    display: flex;
    align-items: center;
    color: rgb(150, 0, 150);
    text-align: center;
}

@media all and (max-width: 768px) {

    .start {
        height: 15vw;
        grid-template-columns: [start] 70vw [middle] 30vw [end];
        border-radius: 4vw;
        background-color: transparent; 
    }

    .startOfSite {
        height: 15vw;
        border-radius: 4vw;
    }

    .name {
        font-size: 5.2vw;
        margin-left: 1vw;
    }
    
    .planetImg {
        width: 7vw;
    }
    
    .modalLang {
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 28vw;
        height: 27vw;
        background-color: rgb(234, 234, 234);
        margin-left: 41.4vw;
        margin-top: 15vw;
        border: 1.5px rgb(150, 0, 150) solid;
        z-index: 100;
        border-radius: 4vw;
    }
    
    .langBtn {
        font-size: 4vw;
        padding: 2vw;
        border-radius: 4vw;
    }

    .menu {
        border-radius: 4vw;
    }

    .titleOfSettings {
        font-size: 5vw;
        height: 15vw;
    }
    
    .options {
        height: 25vw;
        border-radius: 4vw;
    }

    .action {
        font-size: 4.5vw;
    }
}